/* --------- DOC SETUP --------- */
html {
	height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #ee9ca7;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(#ffdde1, #ee9ca7);
    background: -moz-linear-gradient(#ffdde1, #ee9ca7);
    background: -ms-linear-gradient(#ffdde1, #ee9ca7);
    background: -o-linear-gradient(#ffdde1, #ee9ca7);
    background: linear-gradient(#ffdde1, #ee9ca7);
}

body {
    text-align: center;
	color: #fff;
}

/* --------- BODY --------- */
#happyimg {
    width:15em;
    display:block;
    margin-left:auto;
    margin-right:auto;
	margin-top: 100px;
}

h1 {
    font-size: 80px;
	font-family:'Arsenale White';
	font-weight: 100;
	line-height: 20px;
}

#resultwrapper {
	padding: 0px 10px;
}

#result {
	color:#ff596b;	/*ff6677*/
	font-family: 'Baron Neue';
	font-size: 35px;
	letter-spacing: 4px;
}

#complimentor {
	color: #fff;
	font-family: 'Arsenale White';
	font-size: 40px;
	line-height: 20px;
    background-color: transparent;
    width: 200px;
	height: 40px;
    border: 0;
    padding: 0px 5px;
	cursor: pointer;
}

#complimentor:focus {
    outline: none;
}

/* --------- FOOTER --------- */
#footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

#footer p {
    font-size: 30px;
	font-family: 'Arsenale White';
	line-height: 20px;
}

#footer a {
    color: #ff6677;
    text-decoration: none;
}