@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue.ttf');
}

body {
    font-family:'HelveticaNeue';
    text-align: center;
    font-weight: 100;
}

h1 {
    font-weight:100;
    font-size:3em;
    margin-top:25px;
    line-height:100%;
}

p {
    font-size:3em;
    line-height:100%;
}

#generator {
    background:#DEF;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:-25px;
    font-size:1.75em;
    border-radius:5px;
    padding:30px 8px;
}

#generator input {
    border-radius:100px;
    margin-top:30px;
    font:.7em 'HelveticaNeue';
    color:#000;
    background-color:#FFF;
    width:180px;
    border:0;
    padding:5px;
}

img.center {
    width:18em;
    display:block;
    margin-left:auto;
    margin-right:auto;
    opacity:50%;
    margin-top:-30px;
}

#footer {
    margin-top:-35px;
}

#footer p {
    font-size:0.9em!important;
    color:#B6B6B6!important;
}

#footer a {
    color:#DEF!important;
    text-decoration:none;
}