@font-face {
  font-family: 'ArsenaleWhite';
  src: url('ArsenaleWhite.woff') format('woff'),
       url('ArsenaleWhite.ttf') format('truetype'),
       url('ArsenaleWhite.svg#ArsenaleWhite') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arsenale_white';
  src: url('arsenale_white.eot');
  src: url('arsenale_white.woff2') format('woff2'),
       url('arsenale_white.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

